.selected__page {
    font-weight: bold;
}

.page__control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page__control span {
    margin-right: 5px;
    cursor: pointer;
}

.page__control span:hover {
    font-weight: bold;
}

